Repository boostcampwm-2022/Web35-CryptoGraph, pull requests merged in 2022-11, with the labels that each got.

#2 프론트엔드 프로젝트 개발환경 설정 #1
  README.md
  api_server/README.md
  client/.eslintrc.json
  client/.gitignore
  client/.prettierrc
  client/.storybook/main.js
  client/.storybook/preview.js
  client/README.md
  client/next.config.js
  client/package-lock.json
  client/package.json
  client/pages/_app.tsx
  client/pages/api/hello.ts
  client/pages/index.tsx
  client/public/favicon.ico
  client/public/vercel.svg
  client/stories/Button.stories.tsx
  client/stories/Button.tsx
  client/stories/Header.stories.tsx
  client/stories/Header.tsx
  client/stories/Introduction.stories.mdx
  client/stories/Page.stories.tsx
  client/stories/Page.tsx
  client/stories/assets/code-brackets.svg
  client/stories/assets/colors.svg
  client/stories/assets/comments.svg
  client/stories/assets/direction.svg
  client/stories/assets/flow.svg
  client/stories/assets/plugin.svg
  client/stories/assets/repo.svg
  client/stories/assets/stackalt.svg
  client/stories/button.css
  client/stories/header.css
  client/stories/page.css
  client/styles/Home.module.css
  client/styles/globals.css
  client/tsconfig.json
  data_processing_server/README.md
Labels: build

#12 Issue#5/mainpage layout
  client/components/Gnb.tsx
  client/components/Sidebar.tsx
  client/next.config.js
  client/package-lock.json
  client/package.json
  client/pages/_app.tsx
  client/pages/_document.tsx
  client/pages/api/hello.ts
  client/pages/index.tsx
  client/public/btc.svg
  client/public/logo-white.svg
  client/public/openBtn.svg
  client/public/userInfo.svg
  client/public/vercel.svg
  client/src/createEmotionCache.ts
  client/src/theme.ts
  client/styles/Home.module.css
  client/styles/globals.css
  client/tsconfig.json
Labels: FE

#29 Issue#15/prefetch + issue#28/src->style changing dirname
  client/components/CandleChart.tsx
  client/components/Gnb.tsx
  client/constants/ChartConstants.ts
  client/hooks/useRealTimeUpbitData.ts
  client/pages/_app.tsx
  client/pages/_document.tsx
  client/pages/chart/candlechart/index.tsx
  client/style/createEmotionCache.ts
  client/style/theme.ts
  client/tsconfig.json
  client/utils/chartManager.ts
  client/utils/upbitManager.ts
Labels: Chart, FE, upbitAPI

#34 Issue#8/candle chart represent data
  client/components/CandleChart.tsx
  client/constants/ChartConstants.ts
  client/types/ChartTypes.ts
  client/utils/chartManager.ts
Labels: Chart, FE

#46 feat: 축소, 확대시 y축 스케일 조정, fetch로직 변경 #31
  client/components/CandleChart.tsx
  client/utils/chartManager.ts
Labels: Chart

#50 Issue#18/treemap and running chart
  client/hooks/reducers/dataReducer.tsx
  client/hooks/useInterval.ts
  client/pages/chart/treechart.tsx
  client/types/ChartTypes.ts
  client/utils/upbitManager.ts
Labels: Chart, Component

#53 issue#52/treemap-bug-fix
  client/pages/chart/treechart.tsx
Labels: Bug, Chart

#51 Issue#49/responsive chart
  client/components/CandleChart.tsx
  client/hooks/useWindowSize.ts
  client/pages/detail/[market].tsx
  client/utils/chartManager.ts
Labels: Chart, Layout

#54 Issue#48/candlechart style
  client/components/CandleChart.tsx
  client/constants/ChartConstants.ts
  client/utils/chartManager.ts
Labels: Chart, FE

#56 Issue#55/dynamic routing
  client/components/CandleChart.tsx
  client/hooks/useInterval.ts
  client/hooks/useRealTimeUpbitData.ts
  client/pages/chart/candlechart/index.tsx
  client/pages/detail/[market].tsx
  client/pages/detail/index.tsx
  client/types/ChartTypes.ts
  client/utils/chartManager.ts
  client/utils/upbitManager.ts
Labels: FE

#62 Issue#47/get coin info with express server
  api_server/.gitignore
  api_server/app.js
  api_server/data/configData.js
  api_server/data/getData.js
  api_server/dataSample/priceTest.js
  api_server/dataSample/test.js
  api_server/package.json
Labels: backend API

#64 Issue#60/detail mobile render component
  client/components/CoinDetailedInfo/index.tsx
  client/components/InfoContainerDesktop/index.tsx
  client/components/InfoContainerMobile/index.tsx
  client/components/LinkButton/index.tsx
  client/components/RealTimeCoinPrice/index.tsx
  client/components/Tab/index.tsx
  client/next.config.js
  client/pages/_app.tsx
  client/pages/detail/[market].tsx
Labels: PR개선점

#63 Issue#36/running bar chart
  client/components/RunningChart.tsx
  client/hooks/reducers/dataReducer.tsx
  client/pages/chart/runningchart/index.tsx
  client/pages/chart/treechart.tsx
  client/types/ChartTypes.ts
Labels: Chart, FE, Component
